/*========== VARIABLES =======*/
:root {
    --primery-color: #434455;
    --primary-bg-color: #ffffff;
    --logo-font-famaly: "Raleway", sans-serif;
    --primary-font-famaly: "Roboto", sans-serif;
    --primary-logo-color: #4d5ae5;
    --secondary-text-color: #2E2F42;
    --accent-color: #404BBF; 
    --light-text-color: #FFFFFF;
    --secondary-bg-color: #2E2F42;
    --bg-button-color: #4D5AE5;
    --team-bg-color: #F4F4FD;
    --footer-text-color: #F4F4FD;
    --porfolio-btn-text: #4D5AE5;
    --portfolio-btn-bg: #F4F4FD;
}

body {
    font-family: var(--primary-font-famaly);
    color: var(--primery-color);
    background-color: var(--primary-bg-color);
}

.container{
    width: 1158;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.navigetion {
    font-style: normal;
}

/*========== VARIABLES =======*/

/* ========== COMMON STYLES ======= */
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
    margin-bottom: 0;
}

ul,
ol {
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
}

img {
    display: block;
}

.list {
    list-style-type: none;
}

.link {
    text-decoration: none;
}

button {
    cursor: pointer;
}
.section-indent{
    display: flex;
    flex-wrap: wrap;
    padding-top: 60px;
    padding-bottom: 60px;
}

/* ========== /COMMON STYLES ======= */

/* PAGE HEADER */



.page-header{
    width: 1158px;
    height: 72px;
    border-bottom: 1px solid #e7e9fc
}


.page-header-container{
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.page-navigetion{
    display: flex;
    align-items: center;
    justify-content:space-between;
    width: 100%;
    max-width: 496px;
    margin-right: 76px;
    padding-top: 24px;
    padding-bottom: 24px;
}


.logotype {
    font-family: var(--logo-font-famaly);
    font-size: 18px;
    font-weight: 800;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--primary-logo-color);

    margin-right: 76px;
}


.logotype-part {
    color: var(--secondary-text-color);
}

.menu{
    display: flex;
    gap: 40px;

    margin-right: 166px;

}



.menu-link {
    color: var(--secondary-text-color);
    font-size: 16px;
    font-weight: 500;
    line-height: calc(24/16);
    letter-spacing: 0.02em;
    padding-top: 24px;
    padding-bottom: 24px;
}
.menu-link:hover,
.menu-link:focus {
    color: var(--accent-color);
}

.navigetion{
    display: flex;
    justify-content: space-between;
    margin-left: 166px;

}
.contact-link{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;

}



.contact{

    display: flex;
    padding-top: 24px;
    padding-bottom: 24px;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.32px;
        color: var(--primery-color);
        padding-top: 24px;
        padding-bottom: 24px;
}

.contact:hover,
.contact:focus{
    color:var(--accent-color);
}

/*=========== /PAGE HEADER ==========*/

  /*=========== HERO ==========*/
 
  .hero{
      background-color: var(--secondary-bg-color);
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-top: 188px;
      padding-bottom: 188px;

  }
 
  .main-title{

      text-align: center;
      font-size: 56px;
      line-height: 1.07;
      letter-spacing: 0.02em;
      color: var(--light-text-color);
      flex-wrap: wrap;
      width: 100%;
      max-width: 496px;
      margin-bottom: 12px;


  }

  .order-servis {
    display: block;;
    align-items: center;
        font-family: var(--primary-font-famaly);
        font-size: 16px;
        font-weight: 500;
        line-height: 1.5;
        background-color: var(--bg-button-color);
        letter-spacing: 0.04em;
        cursor: pointer;
        min-width: 169px;
        height: 56px;
        padding: 16px 32px;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
        border: none;
        border-radius: 4px;
        color:var(--light-text-color);
        margin-top: 12px;


        
  }

  .order-servis:hover,
  .order-servis:focus {
      background-color: var(--accent-color);
  }

  /*=========== /HERO ==========*/


        /*=========== BENEFITS ==========*/
       .benefits{
        justify-content: center;
        padding-top: 120px;
        padding-bottom: 120px;
       }
        .benefits-list{
            display: flex;
           
            
        }
        .benefits-list-title {
            font-size: 20px;
            font-weight: 500;
            line-height: 1.2;
            letter-spacing: 0.02em;
            color: var(--secondary-text-color);
            margin-bottom: 8px;
        }

        .benefits-list-iten{
             flex-basis: calc((100% - 72px) / 4);
        }


         .benefits-list-iten:not(:last-child){
            margin-right: 24px;
         }
    
        .benefits-list-text {
            font-size: 16px;
            line-height: 1.5;
            letter-spacing: 0.02em;
        }
    
        /*=========== /BENEFITS ==========*/
    
        /*========== SPECIFICS OF WORK =========*/

         .specifics-of-work-list{
        display: flex;
        flex-basis: calc((100% - 48px) / 3);
        padding-top: 120px;
        }

        .what-doing-title {
            text-align: center;
            font-size: 36px;
            line-height: 1.11;
            letter-spacing: 0.02em;
            text-transform: capitalize;
            color: var(--secondary-text-color);
            margin-bottom: 72px;

        }

        
        .specifics-of-work-list-iten:not(:last-child){
            margin-right: 24px;
        }
    
        /*========== /SPECIFICS OF WORK =========*/
    
        /*========== OUR TEAM =========*/

        
        .our-team {
                    background-color: var(--team-bg-color);
                    padding-top: 120px;
                    padding-bottom: 120px;
                }

        
            .our-team-title {
            text-align: center;
            font-size: 36px;
            line-height: 1.11;
            letter-spacing: 0.02em;
            text-transform: capitalize;
            color: var(--secondary-text-color);
            margin-bottom: 72px;
        }

         .our-team-list{
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 24px;
            width: calc((100% - 72px) / 4);
    
          }


        .our-team-list-iten {
            background-color: var(--primary-bg-color);
            margin-right: 24px;
            border-radius: 0px 0px 4px 4px;
        }

       .our-team-list-iten:not(:last-child){
        margin-right: 24px;
       }
        
       .employee-name{
       text-align: center;
       padding-top: 32px;
       padding-bottom: 32px;
    }
        .our-team-list-title {
    
            text-align: center;
            font-size: 20px;
            font-weight: 500;
            line-height: 1.2;
            letter-spacing: 0.02em;
            color: var(--secondary-text-color);
            padding-left: 49;
            padding-right: 49;
            margin-top: 8px;

        }
    
        .our-team-list-text {
    
            text-align: center;
            font-size: 16px;
            line-height: 1.5;
            letter-spacing: 0.02em;
            padding-left: 52px;
            padding-right: 52px;

        }
    
        /*========== /OUR TEAM =========*/

 /*========== FOOTER =========*/
                .page-footer {
                    background-color: var(--secondary-bg-color);
                    padding-top: 60px;

                }
        .page-footer-indent{
            padding-top: 100px;
            padding-bottom: 100px;
            padding-left: 154px;
        }
                   .footer-logo-part {
        color: var(--footer-text-color);
                   }
        
                .page-footer-text {
        
                    font-size: 16px;
                    line-height: 1.5;
                    letter-spacing: 0.02em;
                    color: var(--footer-text-color);
                    flex-wrap: wrap;
                    width: 100%;
                    max-width: 264px;
                    padding-top: 16px;
                    padding-bottom: 100px;

                }
/*=========== HERO POTFOLIO ==========*/
.portfolio-btn{
color: var(--porfolio-btn-text);

    font-family: var(--primary-font-famaly);
    font-size: 16px;
    font-weight: 500;
    line-height: calc(24/16);
 
    letter-spacing: 0.04em;
    cursor:pointer;
    background-color: var(--portfolio-btn-bg);
    border-radius: 4px;
    border: 1px solid #E7E9FC

}
.portfolio-btn:hover,
.portfolio-btn:focus{
    background-color: var(--accent-color);
    color: var(--light-text-color);
}

.portfolio-button{
    display: flex;
    justify-content: center;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 24px;
    padding-right: 24px;
    gap: 24px;
    margin-top: 48px;
    margin-bottom: 72px;
    
}


/*=========== /HERO PORTFOLIO ==========*/

/*=========== MOBILE APPLICATIONS ==========*/


.mobile-applications-list{
    justify-content: center;
    flex-basis: calc(100% - 48px) / 3;
    gap: 48px 24px;

}

.mobile-applications-iten{
    border: 1px solid #E7E9FC;
    background: var(--primary-bg-color);

}

.mobile-applications-img{
    margin-bottom: 32px;
}

.mobile-applications-title{

    margin-top: 32px;    
    margin-bottom: 8px;
        padding-left: 16px;
        font-size: 20px;
        font-weight: 500;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: var(--secondary-text-color);


}
.mobile-applications-text{

    padding-left: 16px;
    margin-bottom: 32px;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: var(--primery-color);
}


/*=========== /MOBILE APPLICATIONS ==========*/

        /*========== FOOTER =========*/

    
        /*========== /FOOTER =========*/
        
